@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
    --color-primary: #3498db;
    --color-secondary: #ff6f61;
    --color-accent: #5ee088;
    --color-light: #e1e1e1;

    --color-darkBlue: #2677bc;

    --color-bgColor: #175190;

    --color-primaryHover: #ff5545;
    --color-secondaryHover: #333333;

    --color-text-white: #fafafa;
    --color-textPrimary: #313131;
    --color-textSecondary: #5b5b5b;
    --color-textTertiary: #969696;

    --text-h5: 66px;
    --text-h6: 58px;
    --text-h7: 46px;
    --text-h8: 42px; /* 48 */
    --text-h9: 30px;
    --text-h10: 26px;

    --text-s3: 24px;
    --text-s4: 22px; /* 24 */
    --text-s5: 18px;
    --text-s6: 16px;
    --text-s7: 14px;
    --text-s8: 12px;

    --text-b1: 22px;
    --text-b2: 20px;
    --text-b3: 18px;
    --text-b4: 16px;
    --text-b5: 14px;

    --font-display: "Heebo", sans-serif;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    html,
    body {
        @apply font-display text-base;
    }
}
