@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@100..900&display=swap");

@import "tailwindcss";

@theme {
    --color-primary: #3498db;
    --color-secondary: #ff6f61;
    --color-accent: #5ee088;

    --color-text-white: #fafafa;
    --color-textPrimary: #313131;
    --color-textSecondary: #5b5b5b;
    --color-textTertiary: #969696;

    --text-h5: 72px;
    --text-h6: 64px;
    --text-h7: 58px;
    --text-h8: 48px;
    --text-h9: 36px;
    --text-h10: 32px;

    --text-s3: 30px;
    --text-s4: 24px;
    --text-s5: 20px;
    --text-s6: 18px;
    --text-s7: 16px;
    --text-s8: 14px;

    --text-b1: 24px;
    --text-b2: 20px;
    --text-b3: 18px;
    --text-b4: 16px;
    --text-b5: 14px;

    --font-display: "Heebo", sans-serif;
}

* {
    scroll-behavior: smooth;
}

@layer base {
    html,
    body {
        @apply font-display text-base;
    }
}
